<%= render "karutes/header"%>

<div class="shop_body">

  <div class="gaikan">

    <div class="shop_image">
      <%= image_tag("gaikan1-1.png", class:"amollir_shop_image") %> 
    </div>  
    <div class="shop_coment">
      <%# <%= image_tag("shop_tag.png", class:"amollir_shop_tag") %>
      <h4 class="midasi">外観</h4>
      <p>緑の看板が目印です</p>
      <p>駐車スペース(1台分)がありますので、車でも来ていただけます</p>
    </div>
  </div>

  <div class="matiai">
    <div class="shop_coment">
      <h4 class="midasi">室内</h4>
      <p>患者様がくつろいでいただけるような空間づくりに心がけています</p>
    </div>
    <div class="shop_image">
      <%= image_tag("shop_matiai.png", class:"amollir_shop_tag") %>
    </div>
  </div>

  <div class="sezyutu">
    <%# <div class="sezyutu_coment">
      施術室
    </div> %>
    <div class="sezyutu_image">
      <%= image_tag("shop1-1.png", class:"amollir_shop_image") %> 
    </div>
    <div class="sezyutu_image">
      <%= image_tag("shop1-2.png", class:"amollir_shop_image") %> 
    </div>  
  </div> 

  <div class="tell">
    <h3 title="tell_coment">ご予約<p class="tell_number">089-904-7180</p><p>※非通知は繋がりません</p></h3>
      <%# <span class='purchase-btn-text'>要予約: 089-904-7180</span>
      <p><span class='purchase-btn-text2'>※ 非通知は繋がりません</span></p> %>
      <%# <%= image_tag 'tell.png', size: '250x105', class: "tell-btn-icon" %> 
  </div>    


</div>