
<%= render "header"%>

<div class="admin">

  <% if user_signed_in?%>
    <% if current_user.admin? %>
      <div class="tab">
        <h2 class="iti">一覧は管理者のみ表示されます</h2>
        
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "log_out_btn" %>
        <%= link_to '患者登録', new_patient_path, class: "admin_btn" %>
        <div class="search">
          <%= form_with(url: search_patients_path, local: true, method: :get, class: "search-form") do |form| %>
            <%= form.text_field :keyword, placeholder: "名前、電話番号から検索", class: "search-input" %>
            <%= form.submit "検索", class: "search-btn" %>
          <% end %>
        </div>  

      </div>  

      <div class="karute_user">
        <h2 class=k_title>患者カルテ一覧</h2>
        <ul class='user_list'>
          <% @patients.each do |patient| %>
            <li class='u_list'>
                <%= link_to patient_path(patient.id), method: :get do %> 
                <span class="user_li"><%= patient.family_name %>
                <%= patient.first_name %></span>
                <% end %>
            </li>
          <% end %>
        </ul>
      </div> 
    <% else %> 
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "log_out_btn" %>
    <% end %>
  <% else %>  
    <div class="image1-1">
      <div class="image1">
        <%= image_tag("image_top.png", class:"amollir_top_image") %> 
        <div class="image1_comment">
          <h2>一人一人に合ったオールハンド施術</h2>
          <h2>身体に溜まった老廃物を流し出す</h2>
        </div>  
      </div>
    </div> 
    <div class="top_message">   
      <h1></h1>
        <p class="amollir_comment_top">Amollir       "あもりーる"</p>
        <p class="amollir_comment">フランス語で、「和らぐ」という意味の他に「柔らかくなる、癒し」などの意味もあります。</p>
        <p class="amollir_comment">あなたの身体の痛みと心の疲れを和らげる癒やしのサロンでありたいと思っています。</p>
        <p class="amollir_comment">身体のお悩みに合わせたきめ細かい施術と、心のこもったサービスを提供させて頂けるよう、日々目指しております。</p>
      <h1></h1>
    </div>   
    <div class="image1-2">
      <%= image_tag("image_top2.png", class:"amollir_top_image2-1") %> 
      <div class="image2_coment">
        <%= image_tag("image_top_waku.png", class:"amollir_top_image2-2") %> 
      </div>
    </div>

    <div class="s_nagare">
      <h2 class="s_nagare_t">施術の流れ</h2>

      <div class="n_1_con">
        <div class="n_image">
          <%= image_tag("image_caunseling.png", class:"amollir_top_image2-1") %> 
        </div>
        <div class="n_comment">
          <p class="n_1">カウンセリング</p>
          <p>カウンセリングをして、お一人お一人の体の状態に合わせて施術をおこないます</p>
          <p>体のお悩みをお気軽にご相談ください</p>
          <p>元水泳インストラクターの経験から、様々な運動療法もアドバイスしています</p>
        </div>
      </div>

      <div class="n_1_con">
        <div class="n_image">
          <%= image_tag("image_sezyutu.png", class:"amollir_top_image2-1") %> 
        </div>
        <div class="n_comment">
          <p class="n_1">施術</p>
          <p>マンツーマンでの施術ですので時間を忘れてリラックスして頂けます</p>
          <p>バキバキしない安心の施術です</p>
          <p>当店ではお一人のお客様に対して、一人の施術者が担当しております</p>
          <p>入れ替わり立ち替わりお客様が出入りするシステムではないので、その都度換気や除菌など徹底した衛生管理の元、お客様をお迎えしております</p>
        </div>
      </div>

      <div class="n_1_con">
        <div class="n_image">
          <%= image_tag("image_sezyutu_after.png", class:"amollir_top_image2-1") %> 
        </div>
        <div class="n_comment">
          <p class="n_1">施術後</p>
          <p>お飲み物をご用意しております</p>
          <p>コーヒー・紅茶・ハーブティー(5種類)の中からお好きな物をお選び下さい</p>
          <p>水分を補って、更にめぐりの良い体へ…</p>
        </div>
      </div>
    </div>


    <div class='top-page-fotter'>
      <h2 class="fotter_title">
        <i class="far fa-lightbulb"></i>
        <span>
          <p class="shop_name_hutter">ボディーバランスケア Amollir -あもりーる-</p>
          <p class="shop_time">営業時間</p>
          <p class="shop_time">午前９時～午後７時（最終受付）</p>
          <p class="shop_time">年末年始休業</p>
          <p class="shop_time">毎週土曜日は宇和店のため松山店休業</p>
        </span> 
      </h2>
    </div>  

    <div class="tell">
      <h3 title="tell_coment">ご予約<p class="tell_number">089-904-7180</p><p>※非通知は繋がりません</p></h3>
    </div> 
    
     
  <% end %>

  

</div>




