
<%= render "header"%>

<div class="admin">

  <% if user_signed_in?%>
    <% if current_user.admin? %>
      <div class="tab">
        <h2>一覧は管理者のみ表示されます</h2>
        
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "log_out_btn" %>
        <%= link_to '患者登録', new_patient_path, class: "admin_btn" %>
        <%= form_with(url: search_patients_path, local: true, method: :get, class: "search-form") do |form| %>
          <%= form.text_field :keyword, placeholder: "名前、電話番号から検索", class: "search-input" %>
          <%= form.submit "検索", class: "search-btn" %>
        <% end %>

      </div>  

      <div class="karute_user">
        <h2>患者カルテ一覧</h2>
        <ul class='user_list'>
          <% @patients.each do |patient| %>
            <li class='list'>
                <%= link_to patient_path(patient.id), method: :get do %> 
                <%= patient.family_name %>
                <%= patient.first_name %>
                <% end %>
            </li>
          <% end %>
        </ul>
      </div> 
    <% else %> 
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "log_out_btn" %>
 
    <% end %>
  <% end %>
</div>

<h2>一人一人に合ったオールハンド施術</h2>
<h2>身体に溜まった老廃物を流し出す</h2>


