<div class="user_karute_body">
  <div class="top_back_btn">
    <%# <%= link_to '住所追加', new_patient_patient_address_path(@patient.id) %>
    <%# <%= link_to 'カルテ追加', new_patient_karute_path(@patient.id) %>
    <%= link_to '一覧に戻る', root_path %>
  </div>  
  <% unless @patient.patient_address.present?%>
    <div class="new_karute_btn">
      <p>住所が登録できていません</p>
      <%= link_to '住所追加', new_patient_patient_address_path(@patient.id) %>
  <% else %>
    <% unless @patient.karute.present?%> 
      <div class="new_karute_btn">
        <p>カルテがありません</p>
        <%= link_to 'カルテを追加', new_patient_karute_path(@patient.id), method: :get %>
      </div>
    <% else %> 
      <div class="edit_karute_btn">
        <%= link_to '患者情報（電話番号等）を修正', edit_patient_path(@patient.karute.id), method: :get %>
        <%= link_to '住所を編集', edit_karute_path(@patient.karute.id), method: :get %>
        <%= link_to 'カルテを編集', edit_karute_path(@patient.karute.id), method: :get %>
      </div>  
      <h2 class="page-heading"><%= "#{@patient.family_name}#{@patient.first_name}さんのカルテ"%></h2>

      <div class="date">
        <p>＜更新日＞</p>
        <%= @patient.karute.date %>
      </div>
      <div class="name">
        <p>＜氏名＞</p>
        <div class="kana">
          <%= "#{@patient.family_name_kana}#{@patient.first_name_kana}" %>
        </div>
        <div class="kanji">
          <%= "#{@patient.family_name}#{@patient.first_name}" %>
        </div>  
      </div>

      <div class="birth">
        <p>＜誕生日＞</p>
        <%= "#{@patient.birth_date_id}生" %>
      </div>

      <div class="address_space">
        <p>＜住所＞</p>
        <div class="postal_code">
          <%= "〒#{@patient.patient_address.postal_code}" %>
        </div>

        <div class="address">
          <%= @patient.patient_address.prefecture.name %>
          <%= @patient.patient_address.city %>
          <%= @patient.patient_address.address %>
          <%= @patient.patient_address.building_name %>
        </div>
      </div>
      
      <div class="phone_number">
        <p>＜電話番号＞</p>
        <%= @patient.phone_number %>
      </div>

      

      <div class="user_karute">
          <div class="pain">
            <div class="item">
            ＜痛みのある部位＞
            </div>
            <%= @patient.karute.pain %>
          </div>
          <div class="illness">
            <div class="item">
            ＜既往症＞
            </div>
            <%= @patient.karute.illness %>
          </div>

          <div class="history">
            <div class="item">
            ＜通院歴＞
            </div>
            <%= @patient.karute.history %>
          </div>

          <div class="medicine">
            <div class="item">
            ＜服用している薬＞
            </div>
            <%= @patient.karute.medicine %>
          </div>

          <div class="habit">
            <div class="item">
            ＜日常的に行っている行動＞
            </div>
            <%= @patient.karute.habit %>
          </div>
          <div class="memo">
            <div class="item">
            ＜メモ＞
            </div>
            <%= @patient.karute.memo %>
          </div>
      </div>
    <% end %>
  <% end %>
</div>  



<%# </div>   %>









