<div class="user_karute_body">
  <div class="top_back_btn">
    <%= link_to '一覧に戻る', root_path %>
  </div>  
  <% unless @patient.patient_address.present?%>
    <div class="new_karute_btn">
      <p>住所が登録できていません</p>
      <%= link_to '住所追加', new_patient_patient_address_path(@patient.id) %>
  <% else %>
    <% unless @patient.karute.present?%> 
      <div class="new_karute_btn">
        <p>カルテがありません</p>
        <%= link_to 'カルテを追加', new_patient_karute_path(@patient.id), method: :get %>
      </div>
    <% else %> 
      <div class="edit_karute_btn">
        <div class="edit_k_btn">
          <%= link_to '患者情報(電話番号等)を修正', edit_patient_path(@patient.id), method: :get %>
        </div> 
        <div class="edit_k_btn">
          <%= link_to '住所を修正', edit_patient_address_path(@patient.patient_address.id), method: :get %>
        </div> 
        <div class="edit_k_btn"> 
          <%= link_to 'カルテを編集', edit_karute_path(@patient.karute.id), method: :get %>
        </div> 
        <div class="edit_k_btn"> 
          <%= link_to '患者情報を削除', patient_path(@patient.id), method: :delete %>
        </div>
      </div>  
      <h2 class="page-heading"><%= "#{@patient.family_name}#{@patient.first_name}さんのカルテ"%></h2>

      <div class="date">
        <p style="text-align: right">
            更新日:  
            <%= @patient.karute.date %>
        </p>
      </div>  

      <div class="pro">
        <div class="name">
          <div class="s_t">
            氏名
          </div>
          <div class="s_t2">
            <div class="kana">
              <%= "#{@patient.family_name_kana}#{@patient.first_name_kana}" %>
            </div>
            <div class="kanji">
              <%= "#{@patient.family_name}#{@patient.first_name}" %>
            </div>
          </div>    
        </div>

        <div class="birth">
          <div class="s_t">
            誕生日
          </div>
          <div class="s_t2">  
            <%= "#{@patient.birth_date_id}生" %>
          </div>
        </div>

        <div class="address_space">
          <div class="s_t">
            住所
          </div>
          <div class="s_t2">    
            <div class="postal_code">
              <%= "〒#{@patient.patient_address.postal_code}" %>
            </div>  
            <div class="address">
              <%= @patient.patient_address.prefecture.name %>
              <%= @patient.patient_address.city %>
              <%= @patient.patient_address.address %>
              <%= @patient.patient_address.building_name %>
            </div>
          </div>  
        </div>
        
        <div class="phone_number">
          <div class="s_t">
            電話番号
          </div>
          <div class="s_t2"> 
            <%= @patient.phone_number %>
          </div>  
        </div>
      </div>
      

      <div class="user_karute">
          <div class="pain">
            <div class="s_t">
              痛みのある部位
            </div>
            <div class="s_t2"> 
              <%= @patient.karute.pain %>
            </div>  
          </div>
          <div class="illness">
            <div class="s_t">
              既往症
            </div>
            <div class="s_t2"> 
              <%= @patient.karute.illness %>
            </div>  
          </div>

          <div class="history">
            <div class="s_t">
              通院歴
            </div>
            <div class="s_t2"> 
              <%= @patient.karute.history %>
            </div>  
          </div>

          <div class="medicine">
            <div class="s_t">
              服用している薬
            </div>
            <div class="s_t2"> 
              <%= @patient.karute.medicine %>
            </div>  
          </div>

          <div class="habit">
            <div class="s_t">
              日常的に行っている行動
            </div>
            <div class="s_t2">
              <%= @patient.karute.habit %>
            </div>  
          </div>
          <div class="memo">
            <div class="s_t">
              メモ
            </div>
            <div class="s_t2"> 
              <%= @patient.karute.memo %>
            </div>  
          </div>
      </div>
    <% end %>
  <% end %>
</div>  



<%# </div>   %>









