<%= render "karutes/header"%>

<div class="info">
  <div class="info-top">
    トピック
  </div>
  <div class="DBC">
    <div class="DBC_title">
      ダイエット整体《美ボディコース》
    </div> 
    <div class="DBC_memo">
      <p class="mamo_top">ご要望の多かったダイエット整体コースが、遂に誕生しました。</p>
      <p class="mamo_top">AMOLLIRならではの、施術によるボディメイクコース！</p>
      <p class="mamo_top">美しく健康的な《美ボディ》をつくる！</p>
    </div>
    <div class="DBC_comment">
      <p class="iken">何をやっても痩せない...</p>
      <p class="iken">食事制限はしたくない...</p>
      <p class="iken">運動は苦手。運動する時間がない...</p>
      <p class="iken">部分痩せ（ウエスト周りだけ細くなりたい等）希望</p>
      <p class="iken">リバウンドが不安...</p>
      <p class="iken">毎年の健康診断が憂鬱...</p>
      <p class="iken">今度こそ絶対に痩せたい...</p>
    </div>
    <div class="DBC_memo">
      <p class="mamo_top">上記のような方にお勧めです。</p>
      <p class="mamo_top">無理な食事制限はせず、過酷な運動もありません!</p>
      <p class="mamo_top">急激な痩せ方でバストがしぼんだり、顔がやつれるようなこともなく、美しく健康的なボディを作りあげるお手伝いをいたします。</p>
    </div>

    <div class="BDC_ap">
      <p><span class="app">整体・腸もみ・耳つぼ・リンパセラピーなど</span>AMOLLIRならではのメソッドでアプローチ！</p>
      <p><span class="app">確実に</span>落とします！</p>
    </div>

    <div class="BDC_moniter">
      <div class="BDC_moniter_top">
        美ボディコースを体験された６名のモニター様の結果報告！
      </div>
      <div class="BDC_moniter_s">
        <h1></h1>
        <div class="m_a">
          <div class="imag_BDC">
              <%= image_tag("imagea-b.png", class:"BDCimage") %> 
            <%# <div class="mo_c_before">
              最近お腹周りが緩んできた...?
            </div> %>
              <%= image_tag("imagea-a.png", class:"BDCimage") %> 
          </div>    
            <div class="mo_p_after">
              <p class="mo_c_b">30代女性</p>
              <p class="mo_c_b">体重：3.7㎏減</p>
              <p class="mo_c_b">ウエスト：4.0㎝減</p>
              <p class="mo_c_b">ヒップ：3.5㎝減</p>
            </div>
            <div class="mo_c_after">
              <p class=c_title>何もしなくていいのに、痩せるなんてびっくりです！</p>
              今回 モニターになってみて驚いたのは、食事制限もなく ハードな運動もしなくていいのに確実に痩せていったことです。
              大好物の甘い物も食べていいなんてびっくりです。こんなに苦労なく痩せられたのは初めてでした。
              これからもボディメンテナンスを続けながら、このボディラインをキープしていきたいです。
            </div>
          </div> 
        </div>  

        <h1></h1>

        <div class="m_b">
          <div class="BDC_moniter_before">
            <div class="imag_BDC">
              <%= image_tag("imageb-b.png", class:"BDCimage") %> 
              <%= image_tag("imageb-a.png", class:"BDCimage") %> 
            </div>
            <div class="mo_p_after">
              <p class="mo_c_b">30代女性</p>
              <p class="mo_c_b">体重：3.6㎏減</p>
              <p class="mo_c_b">ウエスト：6.0㎝減</p>
            </div>
            <div class="mo_c_after">
              <p class=c_title>全然辛くなかったです！</p>
              産後ダイエットをしようとしても時間がなくてそのままになっていました。
              無理なくできる事ばかりで つらいダイエットでは全くなかったですし、週1回の施術で体重もウエストもここまで変化して嬉しいです。
              数週間経った今でも体重は戻っていません。
              リバウンドなしで本当にやって良かったと思っています。
            </div>

          </div> 
        </div> 

        <h1></h1>

        <div class="m_c">
          <div class="BDC_moniter_before">
            <div class="imag_BDC">
              <%= image_tag("imagec-b.png", class:"BDCimage") %> 
              <%= image_tag("imagec-a.png", class:"BDCimage") %> 
            </div>
            <div class="mo_p_after">
              <p class="mo_c_b">40代女性</p>
              <p class="mo_c_b">体重：2.6㎏減</p>
              <p class="mo_c_b">ウエスト：2.2㎝減</p>
              <p class="mo_c_b">ヒップ：3.0㎝減</p>
            </div>
            <div class="mo_c_after">
              <p class=c_title>何をやっても痩せなかった私がこんなに変わるなんてびっくりです</p>
              1か月でこんなに体重が変化すると思いませんでした。
              今まで何をやっても痩せにくかった私が 1か月でこんなに変わったことがすごくびっくりするとともに嬉しいです。
              無理な食事制限もなく ストレスもためることなく出来て良かったです。今後も目標体重まで 先生に教わったストレッチを活用して頑張ります。
            </div>
          </div> 
        </div> 

        <h1></h1>

        <div class="m_d">
          <div class="BDC_moniter_before">
            <div class="imag_BDC">
              <%= image_tag("imaged-b.png", class:"BDCimage") %> 
              <%= image_tag("imaged-a.png", class:"BDCimage") %> 
            </div>
            <div class="mo_p_after">
              <p class="mo_c_b">50代女性</p>
              <p class="mo_c_b">体重：2.7㎏減</p>
              <p class="mo_c_b">ウエスト：6.3㎝減</p>
              <p class="mo_c_b">ヒップ：7.0㎝減</p>
            </div>
            <div class="mo_c_after">
              <p class=c_title>体重計に乗るのが楽しみになりました</p>
              モニタースタート時は不安でしたが 回数をしていくうちに少しづつ慣れてきて習慣となり、毎朝体重計で計ることが楽しみとなりました。
              先生からいろいろとアドバイスをいただき これからもご指導いただいた事を続けていきたいと思います。
              モニターになってダイエットの機会を与えて頂き感謝しています。
              ありがとうございました。            
            </div>
          </div> 
        </div> 

        <h1></h1>
 

        <div class="m_e">
          <div class="BDC_moniter_before">
            <div class="imag_BDC">
              <%= image_tag("imagee-b.png", class:"BDCimage") %> 
              <%= image_tag("imagee-a.png", class:"BDCimage") %> 
            </div>
            <div class="mo_p_after">
              <p class="mo_c_b">60代女性</p>
              <p class="mo_c_b">体重：1.7kg減</p>
              <p class="mo_c_b">ウエスト：6.0㎝減</p>
              <p class="mo_c_b">ヒップ：3.0㎝減</p>
            </div>
            <div class="mo_c_after">
              <p class=c_title>食事制限を全然しなかったのにこんなに変わるなんて思いませんでした！</p>
              今回 自分ではなかなか続かないダイエットをサポートして頂きながらならできるかなと思い始めました。
              同じ目標をみて下さる方がいると決め事も守れるし きちんと結果も出せたので嬉しかったです。
              途中で旅行があり その間も飲んだり食べたりしたのですが、体重が増加することもなくキープできたのも驚きでした。
              今後も続けていこうと思います。
            </div>
          </div> 
        </div>

        <h1></h1>
  

        <div class="m_f">
          <div class="BDC_moniter_before">
            <div class="imag_BDC">
              <%= image_tag("imagef-b.png", class:"BDCimage") %> 
              <%= image_tag("imagef-a.png", class:"BDCimage") %> 
            </div>
            <div class="mo_p_after">
              <p class="mo_c_b">50代女性</p>
              <p class="mo_c_b">体重：変化なし</p>
              <p class="mo_c_b">ウエスト：10.0㎝減</p>
              <p class="mo_c_b">ヒップ：3.5㎝減</p>
            </div>
            <div class="mo_c_after">
              <p class=c_title>周りから痩せた？と聞かれることが多くなりました！</p>
              約1カ月の体験でしたが、結果としてウエストが10㎝ダウンできた事が、とても嬉しかったです。
              周りからも「痩せた？」と聞かれたのでボディラインは変わったのだと実感しました。
              体重は2週目で1㎏程減ったのですが、ストレスや飲み会が続き安定しませんでした。
              今後も生活の中で取り入れていける事ばかりなので、続けていこうと思います。
            </div>
          </div> 
        </div> 

        <h1></h1>
 
      </div>  
      
    </div>

    <div class="BDC_last">
      <div class="l_top">
        他にも嬉しいご報告多数です。
      </div>
      <div class="last_c">
        <p class="l_c">１週間で1.7kg体重が減りました。引き続き目標に向けて頑張ります。(40代女性)</p>
        <p class="l_c">1回の施術でウエストが3㎝も減ったのには驚きです！(50代女性）</p>
        <p class="l_c">1か月で体重2kg減。ウエスト2.5㎝減。ボディラインが変わりくびれが出てきました！(30代女性）</p>
        <p class="l_c">今までの我慢するダイエットとは違って無理なく体重が変化していくので、期間が終了しても引き続き頑張れそうです。(50代女性)</p>
        <p class="l_c">長年便秘体質で悩んでいたのですが、施術3日後にドドーっと出てそれ以降も快便になりました。あんなに苦しんでいたのが嘘のようです。(60代女性)</p>
      </div>
      <div class="l_top">

      一緒に目標のボディを目指して頑張りましょう！！
      <p>ご予約お待ちしております</p>
      </div>
    </div>
  </div>

</div>

    <div class="tell">
      <h3 title="tell_coment">ご予約<p class="tell_number">089-904-7180</p><p>※非通知は繋がりません</p></h3>
    </div> 


